{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="container"></div>
  {% include "includes/menu.html" with index=True %}
  {% load cache %}
  {% cache 20 index_page page.number %}
    
    {% for post in page %}
      <h3>
          Автор: <a href="{% url 'profile' username=post.author.username %}">{{ post.author.get_full_name }}</a>, Дата публикации: {{ post.pub_date|date:"d M Y" }}
      </h3>
      {% thumbnail post.image "480x120" crop="center" upscale=true as im %}
        <img class="card-img" src="{{ im.url }}">
      {% endthumbnail %}    
       <p>{{ post.text|linebreaksbr }}</p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% include "includes/paginator.html" %}
  {% endcache %}
</div>  
{% endblock %}