{% extends "base.html" %}
{% block title %} Записи автора {{author.username}} {% endblock %} 
{% block header %}   {% endblock %} 
{% block content %}
{% load thumbnail %}

<main role="main" class="container">
  <div class="row"> 
    {% include "includes/info_block_left.html" with author=author %}
    <div class="col-md-9">
      <!-- Пост -->
      {% include "includes/incl_post_block.html" with post=post%}
      {% include "includes/comments.html" %}
     </div>     
  </div> 
</main>

{% endblock %}
